

@media (min-width: 320px) and (max-width: 480px) {
/*Top Bar start*/
    
/*
.my_navbar_display1{
    display: none;
}

.my_navbar_display2{
    display: block;
}*/
/*=============================================*/    
/*===============nav_bar_outer=================*/    
.navbar_outer {
    width: 100%;
}
.navbar_outer  .logo{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
}
.navbar_outer  .logo img{
    margin: 0 auto;
}
.navbar {
    justify-content: flex-end !important;
    margin: 0px 0px 0 0;
    width: 100%
} 
    
.navbar-collapse .navbar-nav .nav-link {
        margin: 0px 5px 35px 5px !important;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0px;
}
/*===========navbar_outer==================*/
/*=========================================*/
/*===============sell_car_btn==============*/    
 .sell_car_btn {
    margin: -30px 0 25px 20px;
}   
.sell_car_btn a {
    font-size: 10px;
}
.pull-right {
    float: none !important;
}
/*=========================================*/
/*===============sell_car_btn==============*/
    
/*=========================================*/     
/*==========selected_list_outer============*/    
.selected_list_outer {
        margin: 20px 0px;
} 
/*==========selected_list_outer==============*/    
/*===========================================*/ 
    
/*==========my_car_info_outerr==============*/    
/*===========================================*/     
.my_car_info_outer{
    margin-bottom: 0px;
  }
.car_info_content p span {
    font-size: 16px;
    }
/*==========my_car_info_outer==============*/    
/*===========================================*/ 
    
/*===========================================*/    
/*============want_search_outer=============*/ 
.want_search_outer {  
    padding: 30px 0px 30px 0px;
    }

.site_heading{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
    }
.site_heading h3 {
    font-size: 22px;
     margin-bottom: 20px;
    }
 .head_btn_outer{
    margin-bottom: 20px;
    }
.browse_btn{
    margin: 20px 0px;
    } 
.browse_btn{
    width: 100%;
    margin: 0 auto 30px;
    display: block;
    text-align: center;
}
 .browse_btn span a {
    font-size: 10px;
    }
.browse_btn a {
    font-size: 10px;
    }
/*===========================================*/    
/*============want_search_outer=============*/
    
/*===========================================*/     
/*==============car_needs_outer==============*/
.car_needs_outer {
    margin: 10px 0px;
    padding: 0px 10px;    
}
.cars_needs_heading h1 {
    font-size: 22px;
    text-align: center;    
    }
 .car_needs_text p{
    font-size: 12px;
}
.cars_needs_left_text{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 10px;
}  
.cars_needs_right_text{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 10px;
} 
/*last head*/    
.cars_needs_content h3 {
  font-size: 16px;
    } 
/*===========================================*/     
/*==============car_needs_outer=============*/
    
/*=========================================*/   
/*===========cars_all_info_outer==========*/
 .back_car_img{
        display: none;
    }    
.top_cars_models_outer h3 {
        font-size: 14px;
    }
/*=========================================*/   
/*===========cars_all_info_outer==========*/
    
/*=========================================*/     
/*==========car_services_outer============*/
.car_services_section_outer {
   margin: 50px 50px 50px 50px;
}
.car_services_inner_center {
    border-right: 0px solid #e7e7e7 !important;
    border-left: 0px solid #e7e7e7 !important;
    border-top: 1px solid #e7e7e7 !important;
    border-bottom: 1px solid #e7e7e7 !important;
}
/*=========================================*/    
/*==========sign_up_newzletter_outer=====*/  
.sign_up_text p {
    font-size: 12px;
    text-align: center;
    }
.signup_buttons {
        margin: 0px 20px;
    }    
 .signup_buttons input[type="email"] {
    font-size: 12px;    
    }  
 .signup_buttons input[type="submit"] {
    font-size: 12px;      
    }    
/*=========================================*/    
/*=========sign_up_newzletter_outer========*/
    
/*=========================================*/    
/*=================footer================*/   
.footer-top h3 {
    font-size: 12px;
    }
.footer-info p {
        font-size: 12px;
    }
.footer_list  ul li a{
    font-size: 12px;
    }
/*=========================================*/    
/*=================footer================*/     
/*========================================*/
   
}/*Mobile device max-width 480px; */

/*====================================================================================================================*/

/*=======================================
   MEdia Query 2 start max-width 767px
=========================================*/

/*=============================================*/    
@media (min-width: 481px) and (max-width: 767px) {
 /*=============================================*/    
/*===============nav_bar_outer=================*/   
.navbar_outer {
    width: 100%;
    }
.navbar_outer  .logo{
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 100%;
    }
.navbar_outer  .logo img{
        margin: 0 auto;
    }
.navbar {
        justify-content: flex-end !important;
        margin: 0px 0px 0 0;
        width: 100%
    } 
.navbar-collapse .navbar-nav .nav-link {
        margin: 0px 5px 35px 5px !important;
    }
.navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 0px;
    }
/*=============================================*/    
/*===============nav_bar_outer=================*/

/*=========================================*/
/*===============sell_car_btn==============*/    
.nav_bar_outer {
    margin-bottom: 20px;
}
.sell_car_btn a {
        font-size: 12px;
    }
.sell_car_btn {
        margin: -30px 0 25px 20px;
    }
/*=========================================*/
/*===============sell_car_btn==============*/  

/*=========================================*/     
/*==========selected_list_outer============*/    
.selected_list_outer {
        margin: 20px 0px;
} 
/*==========selected_list_outer==============*/    
/*===========================================*/ 
    
/*==========my_car_info_outerr==============*/    
/*===========================================*/     
.my_car_info_outer{
    margin-bottom: 0px;
  }
.car_info_content p span {
    font-size: 17px;
    }
/*==========my_car_info_outer==============*/    
/*===========================================*/
    
/*===========================================*/    
/*===============.want_search_outer=========*/ 
.want_search_outer {  
    padding: 30px 0px 30px 0px;
    }
.site_heading h3 {
    font-size: 22px;
    }
.head_btn_outer{
        margin-bottom: 20px;
    }
.browse_btn{
        margin: 20px 0px;
    } 
.browse_btn span a {
    font-size: 11px;
    }
.browse_btn a {
    font-size: 11px;
    }
/*===========================================*/    
/*===============.want_search_outer=========*/
    
/*===========================================*/    
/*==============car_needs_outer==============*/
.car_needs_outer {
    margin: 10px 0px;
    padding: 0px 10px;    
}
.cars_needs_heading h1 {
    font-size: 22px;
    }
.car_needs_text p{
        font-size: 12px;
    }
.cars_needs_content h3 {
        font-size: 16px;
    }
/*===========================================*/    
/*==============car_needs_outer==============*/
    
/*===========================================*/    
/*===========cars_all_info_outer============*/
.back_car_img img {
        margin-top: 0px;
    }    
.top_cars_models_outer h3 {
        font-size: 15px;
} 
/*===========================================*/    
/*===========cars_all_info_outer============*/
    
/*===========================================*/    
/*==============car_services_outer=============*/
.car_services_section_outer {
   margin: 50px 100px;
}
.car_services_inner_center {
    border-right: 0px solid #e7e7e7 !important;
    border-left: 0px solid #e7e7e7 !important;
    border-top: 1px solid #e7e7e7 !important;
    border-bottom: 1px solid #e7e7e7 !important;
     
}
/*===========================================*/    
/*==============car_services_outer=============*/
    
 /*============================================*/   
/*============sign_up_newzletter_outer========*/  
    .sign_up_text p {
        font-size: 14px;
        text-align: center;
    }
    .signup_buttons {
    text-align: center;
}
/*============================================*/   
/*============sign_up_newzletter_outer========*/
/*=============================================*/    
  


}/*Tab device max-width 767px; */
/*====================================================================================================================*/
/*=======================================MEdia Query 3 start max-width 991px=========================================*/
@media (min-width: 768px) and (max-width: 991px) {
/*=============================================*/    
/*===============nav_bar_outer=================*/    
.nav_bar_outer {
    margin-bottom: 20px;
}
.navbar_outer  .logo{
        padding: 0;
        margin: 15px 0 0 0;
    }
.navbar {
        justify-content: flex-end !important;
    }
 .navbar-collapse .navbar-nav .nav-link {
        font-size: 11px;
    } 
/*=============================================*/    
/*===============nav_bar_outer=================*/
    
/*=========================================*/
/*===============sell_car_btn==============*/      
 .sell_car_btn {
        margin: 0 0 15px 0px;
        width: 100%;
        text-align: center;
    }    
.sell_car_btn a {
    font-size: 12px;
    }
/*=========================================*/
/*===============sell_car_btn==============*/
    
/*=========================================*/   
/*===========selected_list_outer==========*/    
.selected_list_outer {
    margin: 50px 0px;
    }
    .add-new-shippiing-option-form-input-fields{
        margin: 30px 0px !important;
    }    
.find_btn {
    margin: 30px 0px 0px 0px;
    }
.find_btn a {
    padding: 8px 15px;
    font-size: 12px;
    }
/*=========================================*/   
/*===========selected_list_outer==========*/ 
    
/*=======================================*/    
/*===========my_car_info_outer==========*/    
.my_car_info_outer {
    margin-bottom: -100px;
}
.car_info_content ul li {
    list-style-type: none;
    display: block;
    margin: 0 0 0px;
    text-align: center;
}
.car_info_content img {
    margin: 5px 0px 20px 0;
    width: auto;
    }
.car_info_content p span {
    font-size: 16px;
    } 
/*=======================================*/    
/*===========my_car_info_outer==========*/ 
/*======================================*/    
/*===========.want_search_outer=========*/ 
.want_search_outer {  
    padding: 100px 0px 30px 0px;
    }
 .site_heading h3 {
    font-size: 24px;
    }
.head_btn_outer{
    margin-bottom: 20px;
    }
.browse_btn{
    margin: 20px 0px;
} 
.browse_btn span a {
font-size: 12px;
}
.browse_btn a {
font-size: 12px;
}
/*======================================*/    
/*===========.want_search_outer=========*/ 
    
/*======================================*/    
/*==============car_needs_outer==========*/
.car_needs_outer {
    margin: 10px 0px;
    padding: 0px 10px;    
}
.cars_needs_heading h1 {
    font-size: 24px;
    }
.car_needs_text p{
     font-size: 14px;
}
.cars_needs_content h3 {
        font-size: 18px;
    }    
/*======================================*/    
/*==============car_needs_outer==========*/
    
/*=========================================*/       
/*==============car_services_outer=========*/
.car_services_section_outer {
   margin: 50px 0px;
}
.car_services_inner {
    padding: 40px 45px;
    }
/*=========================================*/       
/*==============car_services_outer=========*/
    
/*=========================================*/       
/*==========sign_up_newzletter_outer=======*/  
   
/*=========================================*/       
/*==========sign_up_newzletter_outer=======*/    



  
}
/*==================================================================================================================*/
/*=======================================MEdia Query 3 start max-width 1200px=========================================*/
@media (min-width: 992px) and (max-width: 1200px) {

   
}


/*==================================================================================================================*/
/*=======================================MEdia Query 3 start max-width 1400px=========================================*/
@media (min-width: 1201px) and (max-width: 1400px) {

   
}


/*==================================================================================================================*/
/*=======================================MEdia Query 3 start max-width 1400px=========================================*/
@media (min-width: 1401px) and (max-width: 1600px) {

    
}


/*=======================================MEdia Query 3 start max-width 1600px=========================================*/
/*only for icon hidess*/

@media (min-width: 800px) and (max-width: 3000px) {

 


}